.news-container{

    max-width: 1350px;
    margin: 0px 50px auto;
    padding-top: 50px;
    padding-bottom: 200px;
}

.card{

   float: left;
    margin: 20px;
}

.card img{

    width: 100%;
}

























